.header
  margin-top: 5vh
  margin-bottom: 3rem

.border-silver
  border: 1px solid silver

.margin-vertical
  margin-left: 10px
  margin-right: 10px

.horizontal-padding
  padding-left: 20px
  padding-right: 20px

.main
  background-color: #ECEEEF
  border-radius: 0.2rem
  padding-left: 2rem
  padding-top: 5rem
  padding-bottom: 5rem
  display: flex
  flex-direction: column
  justify-content: center

.separator
  border: 0.5px solid silver
  height: 1px
  width: 25vw
  margin-top: 1.5rem
  margin-bottom: 1.5rem

.btn-small
  width: 100px
  margin-top: 1.5rem
  
.btn-justify
  padding: 10px
  width: 9rem