.login-box
  display: flex
  align-items: center
  flex-direction: column

.login-box__logo
  margin-left: 4rem
  margin-right: 4rem

.login-container
  height: 100vh
  align-items: center
  display: flex
  justify-content: center

.login-box__title
  margin-top: 1rem
  margin-bottom: 1rem

.login-box__inputs
  width: 100%
  height: 8rem
  display: flex
  flex-direction: column
  justify-content: space-evenly

.login-box__recover-password-text
  float: right
  color: #00B789
  align-self: flex-end
  display: flex

.login-box__buttons-container
  display: flex
  margin-top: 2rem
  justify-content: space-between
  width: 100%

.login-box__buttons
  display: flex
  background-color: #1CB08A
  color: white
  float: right
  padding: 0.5rem
  width: 8rem
  justify-content: center
  padding: 10px

.login-box__buttons---no-color
  background-color: white
