.progress-title
  font-weight: bold
  margin-top: 2rem
  margin-bottom: 0.5rem

.evaluation-wrapper
  display: flex
  margin-top: 2rem

.evaluation-section
  flex-grow: 1

.medium
  width: 85%

.software-info
  display: flex
  justify-content: space-between
  flex-direction: column
  height: 11rem

.platform-section
  display: flex
  border: 1px solid #ced4da
  border-radius: 3px
  height: 7.6rem
  margin-top: 1.8rem

.platform-button
  display: flex
  flex-grow: 1
  flex-direction: column
  justify-content: center
  align-items: center
  border-right: 1px solid #ced4da
  cursor: pointer

.confirm
  display: flex
  background-color: #1CB08A
  color: white
  float: right
  padding: 0.5rem
  margin-top: 2rem
  width: 8rem
  justify-content: center
  padding: 10px

.logo
  width: 14rem

.avaliation-platform
  width: 3rem

.avaliation-platform-label
  margin-top: .7rem

.btn-evaluation
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px
  width: 10rem
  margin-right: 1rem

.btn-username
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px
  width: 10rem
  border: 1px solid silver

