.register-container
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.register-box
  width: 40vw
  display: flex
  flex-direction: column
  align-items: stretch
  justify-content: center

.register-box__logo
  align-self: center
  width: 20vw

.register-box__title
  align-self: center

.register-box__buttons-container
  display: flex
  justify-content: center

@media screen and (max-width:768px)
  .register-box
    width: 80vw

  .register-box__logo
    width: 50vw
