@import '~bootstrap/scss/bootstrap.scss'

body
  background-color: white
  margin: 0
  font-size: 14px

button
  outline: none

p
  margin: 0

a
  padding: 0

.btn-white  
  background-color: white

.btn-white:hover, .btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active, .show > .btn-white.dropdown-toggle
  background-color: #007bff
  color: white

.btn-red:hover, .btn-red:not(:disabled):not(.disabled):active, .btn-red:not(:disabled):not(.disabled).active, .show > .btn-red.dropdown-toggle
  background-color: #ff2151 !important
  color: white !important

.btn-orange:hover, .btn-orange:not(:disabled):not(.disabled):active, .btn-orange:not(:disabled):not(.disabled).active, .show > .btn-orange.dropdown-toggle
  background-color: #feac27 !important
  color: white !important

.btn-gray:hover, .btn-grey:not(:disabled):not(.disabled):active, .btn-grey:not(:disabled):not(.disabled).active, .show > .btn-grey.dropdown-toggle
  background-color: #818a91 !important
  color: white !important  

.btn-blue:hover, .btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active, .show > .btn-blue.dropdown-toggle
  background-color: #1c7cd5 !important
  color: white !important  

.btn-green:not(:disabled):not(.disabled):hover, .btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active, .show > .btn-green.dropdown-toggle
  background-color: #1cb08a !important
  color: white !important  

.list-group-item.active
  background-color: #1cb08a !important
  color: white !important  

.list-group-item.active .badge
  background-color: #ffffff
  color: #000000

.progress-bar-green
  background-color: #1cb08a !important

.progress-bar-grey
  background-color: #818a91 !important

@media screen and (max-width: 992px)
  .btn-group label
    font-size:small !important

.text-green 
  color: #00B789

/*Contrast*/
.contrast
  background: black !important
  color: white !important

  nav, div, li, ol, header, footer, section, main, aside, article
    background: black !important
    color: white !important
  h1, h2, h3, h4, h5, h6, p, label, strong, em, cite, q, i, b, u, span
    color: white !important
  a
    color: yellow !important

  button
    background: black !important
    color: yellow !important
    border: 1px solid #fff !important

  input
    &[type=button], &[type=reset], &[type=submit]
      background: black !important
      color: yellow !important
      border: none !important
  input
    &[type=text], &[type=password], &[type=url], &[type=search], &[type=email], &[type=tel], &[type=date], &[type=month], &[type=week], &[type=datetime], &[type=datetime-local]
      background: black !important
      border: 1px solid white !important
      color: white !important

  textarea, input[type=number]
    background: black !important
    border: 1px solid white !important
    color: white !important
.contrast img
  &.on-contrast-force-gray
    filter: grayscale(100%) contrast(120%)

  &.on-contrast-force-white
    filter: brightness(0) invert(1)